.navbar{
    background-color: rgb(34, 34, 73);
    color: white;
    font-size: 20px;
    
}

.navbar-nav > li{
   
    padding-left:30px;
    padding-right:30px;
  }

a{
 color: white;
}

a:hover{
    text-decoration: none;
    color:white;
    font-weight: bold;
}